{% extends "network/layout.html" %}

{% block body %}
    <div>
        <h1 class="my-3 mx-5">{{ username }}</h1>
        <h5 class="my-3 mx-5">Follower: {{ follower.count }}  Following: {{ following.count }}</h5>
        {% if user.is_authenticated %}
            {% if user != user_profile %}
                {% if isFollowing %}
                    <form action="{% url 'unfollow' %}" method="POST"> 
                        {% csrf_token %}
                        <input type="hidden" name="userfollow" value="{{ user_profile }}"/>
                        <input type="submit" value="Unfollow" class="btn btn-secondary my-3 mx-5"></input>
                    </form>
                {% else %}
                    <form action="{% url 'follow' %}" method="POST"> 
                        {% csrf_token %}
                        <input type="hidden" name="userfollow" value="{{ user_profile }}"/>
                        <input type="submit" value="Follow" class="btn btn-primary my-3 mx-5"></input>
                    </form>
                {% endif %}
            {% endif %}
        {% endif%}
    </div>
    

        {% for post in allPosts %}
            <div class="border rounded my-3 mx-5"> 
                <h5 class = "my-3 mx-4"><a href="{% url 'profilePage' user_id=post.postUser.id %}">@{{ post.postUser }}</a></h5>
                <h6 class = "my-3 mx-4"> {{ post.postContent }} </h6>
                <p class = "my-3 mx-4 blockquote-footer"> {{ post.postDate }} </p>
            </div>
        {% endfor %}

        <nav aria-label="Page navigation example" class="my-3 mx-5">
            <ul class="pagination">
            {% if allPosts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ allPosts.previous_page_number}}">Previous</a></li>
            {% endif %}
            {% if allPosts.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ allPosts.next_page_number}}">Next</a></li>
            {% endif %}
            </ul>
          </nav>
{% endblock %}